.main {
  border: 2px solid grey;
  width: 400px;
  height: 570px;
  margin: auto;
  box-shadow: 5px 5px 7px gray;
  background-color: lightgrey;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121b2b;
}

input {
  height: 70px;
  width: 90%;
  background-color: #3c5b90;
  margin: 5px 5px 5px 15px;
  box-shadow: 2px 2px 7px grey;
  /* background-color: black; */
  color: white;
  border-radius: 15px;
  font-size: 50px;
}

button {
  margin: 4px 5px 3px 5px;
  height: 70px;
  border-radius: 15px;
  width: 80px;

  background-color: #3c5b90;
  box-shadow: 2px 2px 5px grey;
  /* background-color: grey; */
}
* {
  font-size: 21px;
}
button:hover {
  background-color: #6f8ec3;
}
.clear {
  margin-left: 307px;
}
